Introducing Lists 

Lists: allow you store sets of information in one place, a collection of items in a particular order, and you can make a list that includes the letters of the alphabet, the digits from 0 to 9 or the names of all the people in your family, ususally ocntains more tha none element and a good idea to make the name of your list plural such as letters, digists, or names

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialzied']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialzied']

Accessing Elements in a List

In [3]:
print(bicycles[0])

trek

In [4]:
print(bicycles[0].title())

Trek

Index Position stars at 0 not 1, first item is 0, and second is 1, so for the third item you want 2

In [5]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialzied

In [6]:
print(bicycles[-1]) #prints the last item in a list, -2 returns secod item from the end of the list etc....

specialzied

Using Individaul Values from a List

In [7]:
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

Practice

In [8]:
names = ['laur', 'kayla', 'emma', 'gab', 'dan']

print(names[1].title())
print(names[-1].title())

Kayla
Dan

In [9]:
love = f"My cousin {names[2].title()} has always been there for me"
print(love)

My cousin Emma has always been there for me

In [10]:
locations = ['colorado', 'new york', 'wyoming', 'la', 'sf']

In [11]:
message = f"My friend {names[1].title()} lives in {locations[1].title()}"

In [12]:
print(message)

My friend Kayla lives in New York

Changing,Adding, and Removing Elements

ex: building a list and adding/removing elements from it as your program runs such as creating a game in which a player has to shoot alients out of the sky, you could store the intial set of aliens in a list and then remove an alien from the list each time one is show down

Modifying Elements in a list:
the syntax for modfying an element is similar to the syntax for accessing an element in a list, to change an element use the name of the list followed by the index of the element you want to change, and then provide the new value you want that item to have

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [14]:
motorcycles[1]= 'ducati'
print(motorcycles)

['honda', 'ducati', 'suzuki']

Adding Elements to a list

Appending Elements to the End of a List: when you append an element its added at the end without affecting other elements

In [15]:
motorcycles.append('ducati')
print(motorcycles)

['honda', 'ducati', 'suzuki', 'ducati']

In [16]:
motorcycle = []
motorcycle.append('honda')
motorcycle.append('suzuki')
motorcycle.append('becker')
print(motorcycle)

['honda', 'suzuki', 'becker']

Inserting Elements into a List: you can add a new element at any position in your list by using insert() by specifying the index of the new element and the value of the new element

In [17]:
motorcycle.insert(0, 'kate')
print(motorcycle)

['kate', 'honda', 'suzuki', 'becker']

In [18]:
motorcycle.insert(3, 'anna')
print(motorcycle) # the more you run it the more it adds anna

['kate', 'honda', 'suzuki', 'anna', 'becker']

Removing elements from a list: a player shoots down an alien so you want to remove it from a list

Removing an item using the del statement: if you know the positiono

In [19]:
del motorcycle[1]
print(motorcycle)

['kate', 'suzuki', 'anna', 'becker']

Removing an item using the pop() method: sometimes you want to use the value of an item after you remove it from the list

ex: want to get x and y position of an alien that was shot down you want an x and y value to create an explosion, removing a user from an a member list and add it to a inactive member list

pop() removes the last item in the list but lets you work with the item after removing it, popping one itemm off a list mmoves it to the end of a list

In [20]:
print(motorcycle)

popped_motorcycles = motorcycle.pop()
print(popped_motorcycles)
# anna was remoed from end of the list and placed in another

['kate', 'suzuki', 'anna', 'becker']
becker

Could be useful to print a statement about the last motocycle we bought

In [21]:
last_owned = motorcycle.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}")

The last motorcycle I owned was a Anna

Popping items from any position in a list byb including the index of the item

In [22]:
first_owned = motorcycle.pop(0)
print(f"The last motorcycle I ownded was a {first_owned.title()}")
#each time you use a pop it is no longer in that list

The last motorcycle I ownded was a Kate

If you want to delete an item from a list and not use the item you use del, but if you want to use an item as you remoive it you use pop()

Removing an item by a value use remove()

In [23]:
motorcycles = ['ducati', 'suzuki', 'honda']
motorcycles.remove('ducati')
print(motorcycles)

['suzuki', 'honda']

In [24]:
too_expensive = 'suzuki'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me")

['honda']

A Suzuki is too expensive for me

*The remove() method deletes only the first occurence of the value you specify, if the value appears more than once youll need to use a loop to make sure all occurences of the value are removed 

Practice

In [25]:
dinner = ['Rihanna', 'Jaque Gusto', 'Jane Goodall']
print(dinner)

invite = (f"{dinner[0].title()} you are cordially invited to dinner")
print(invite)

invitejq = (f"{dinner[1].title()} you are cordially invited to dinner")
print(invitejq)

invitejg = (f"{dinner[2].title()} you are cordially invited to dinner")
print(invitejg)

['Rihanna', 'Jaque Gusto', 'Jane Goodall']
Rihanna you are cordially invited to dinner
Jaque Gusto you are cordially invited to dinner
Jane Goodall you are cordially invited to dinner

3.5 Changing guest list

In [26]:
nos = (f"{dinner[1].title()} cant make it")
print(nos)

Jaque Gusto cant make it

In [27]:
dinner[1] = 'Miles Teller'

In [28]:
print(dinner)

['Rihanna', 'Miles Teller', 'Jane Goodall']

In [30]:
invitemt = (f"{dinner[1]} I would cordially like to invite you to dinner")
print(invitemt)

Miles Teller I would cordially like to invite you to dinner

In [31]:
invitemtbig = (f"{dinner[1]} I would cordially like to invite you to dinner and I found a bigger table")
print(invitemtbig)

Miles Teller I would cordially like to invite you to dinner and I found a bigger table

In [37]:
dinner.insert(0, 'Al Ruddy')
print(dinner)

['Al Ruddy', 'Al Ruddy', 'Al Ruddy', 'Al Ruddy', 'Al Ruddy', 'Rihanna', 'Miles Teller', 'Jane Goodall']

ValueError: list.remove(x): x not in list

In [40]:
del dinner[0]
del dinner[1]

print(dinner)

['Al Ruddy', 'Miles Teller', 'Jane Goodall']

In [42]:
dinner.insert(1, 'Steve Carrel')
print(dinner)

['Al Ruddy', 'Steve Carrel', 'Steve Carrel', 'Miles Teller', 'Jane Goodall']

In [43]:
dinner.append('Jim Carry')

In [44]:
print(dinner)

['Al Ruddy', 'Steve Carrel', 'Steve Carrel', 'Miles Teller', 'Jane Goodall', 'Jim Carry']

In [45]:
few = (f"Unfortunately I can only invite a few people to dinner")
print(few)

Unfortunately I can only invite a few people to dinner

In [46]:
uninvite = dinner.pop()
f"(Sadly you are no longer invited to dinner, {uninvite})"

'(Sadly you are no longer invited to dinner, Jim Carry)'

In [47]:
print(uninvite)

Jim Carry

In [48]:
print(dinner)

['Al Ruddy', 'Steve Carrel', 'Steve Carrel', 'Miles Teller', 'Jane Goodall']

In [50]:
uninvite = dinner.pop()
f"(Sadly you are no longer invited to dinner, {uninvite})"

uninvite = dinner.pop()
f"Sadly you are no longer invited to dinner, {uninvite}"

'Sadly you are no longer invited to dinner, Steve Carrel'

In [51]:
print(dinner)

['Al Ruddy', 'Steve Carrel']

In [52]:
print(uninvite)

Steve Carrel

In [53]:
f"My deppest condolensces, but I cannot invite you to dinner, {uninvite}"

'My deppest condolensces, but I cannot invite you to dinner, Steve Carrel'

In [56]:
del dinner[1]

IndexError: list assignment index out of range

In [57]:
print(dinner)

['Al Ruddy']

In [58]:
del dinner[0]

In [59]:
print(dinner)

[]

Organizing a list

Soemtimes the order of your list is unpredictable because you cant always control the order in which your users provide the data.

Sorting a list permantently with the sort() Methods such as storing them alphabetically and assume all values in the list are lowercase

In [63]:
cars = ['bmw', 'honda', 'audi', 'toyota']
cars.sort()
print(cars) # we can never revert the order

['audi', 'bmw', 'honda', 'toyota']

You can also reverse the order of the list by using the sorted function

In [66]:
cars.sort(reverse = True)
print(cars)

['toyota', 'honda', 'bmw', 'audi']

Sorting a lst temporarily, sorts it but doesnt change its original order

In [77]:
cars = ['bmw', 'honda', 'audi', 'toyota']

In [78]:
print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

# This can be difficult if all the values arent the same case

Here is the original list:
['bmw', 'honda', 'audi', 'toyota']

Here is the sorted list:
['audi', 'bmw', 'honda', 'toyota']

Here is the original list again:
['bmw', 'honda', 'audi', 'toyota']

Printing a list in reverse order: 
You can use reverse() method which changes the list order of the list permanently

In [79]:
print(cars)
cars.reverse()
print(cars)

['bmw', 'honda', 'audi', 'toyota']
['toyota', 'audi', 'honda', 'bmw']

Finding the length of a list: you can find the length of the list by using len()

In [80]:
len(cars)

4

In [95]:
dreams = ['australia', 'bali', 'south africa', 'new zealand', 'nepal']

In [96]:
sorted(dreams)

['australia', 'bali', 'nepal', 'new zealand', 'south africa']

In [86]:
print(dreams)

['australia', 'bali', 'south africa', 'new zealand', 'nepal']

In [97]:
dreams.reverse()
print(dreams)

['nepal', 'new zealand', 'south africa', 'bali', 'australia']

In [98]:
print(dreams)

['nepal', 'new zealand', 'south africa', 'bali', 'australia']

In [89]:
dreams.sort(reverse = True)
print(dreams)

['south africa', 'new zealand', 'nepal', 'bali', 'australia']

In [100]:
dreams.sort()
dreams

['australia', 'bali', 'nepal', 'new zealand', 'south africa']

In [101]:
f"I am now inviting {len(dinner)} to dinner"

'I am now inviting 0 to dinner'

In [106]:
languages = ['spanish', 'english', 'korean', 'french', 'german']
f"I speak {len(languages)} languages, {languages}"

"I speak 5 languages, ['spanish', 'english', 'korean', 'french', 'german']"

In [108]:
f"the language I most recently learned is {languages.pop()}"

TypeError: list.append() takes exactly one argument (0 given)

In [112]:
languages.sort(reverse= True)
languages.append('Vietnamese')
languages.insert(2, 'spanish')

languages

['spanish',
 'spanish',
 'spanish',
 'korean',
 'english',
 'Vietnamese',
 'Vietnamese',
 'Vietnamese']